header {
  background-color:  #9B5400;
  height: 150px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cake {
  position: absolute;
  left: 50px
}
h2 {
  margin: 0;
  padding-top: 12px;
  text-align: center;
  color: white;
  font-family: 'Maitree';
  font-weight: 500;
  font-size: 40px;
  line-height: 66px;
}
.searchicon {
  margin-right: 10px;
}
.searchblock {
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}