.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color:  #9B5400;
  height: 150px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cake {
  position: absolute;
  left: 50px
}
.apph1 {
  margin: 0;
  padding-top: 12px;
  text-align: center;
  color: white;
  font-family: 'Maitree';
  font-weight: 500;
  font-size: 40px;
  line-height: 66px;
}
input {
  width: 427px;
  height: 45px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background-color: #9B5400;
  color: #FFFFFF;
  font-family: 'Maitree';
  font-size: 20px;
  padding-left: 10px;
  outline: none;
}
.searchicon {
  margin-right: 10px;
}
.searchblock {
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  /* justify-content: center; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
